@charset "utf-8";
/* CSS Document */
boday, html {
	max-width:930px;
	height:367px;
}

h1 {
	color:#1a801c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:48px;
}

.menu {
	background-color:#2daacd;
	font-size:20px;
	padding-top:20px;
	padding-bottom:20px;
}

.menu b {
	font-size:30px;
	color: #ffff00;
	margin-left:15px;
	text-shadow: 2px 5px #041114;
}

.menu a {
	font-size:20px;
	margin-left:15px;
	text-decoration:none;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
}

.menu a:hover {
	background-color:red;
}

.menu a.login {
	margin-left:300px;
}

button {
	color:#fff;
	background-color:#3498db;
	border:none;
	border-radius: 3px;
}

button:hover {
	color:#FF0;
	background-color:#F00;
}