body{
	color:#000;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

p.none{
	text-transform:none;
}

p.capitalize{
	text-transform:capitalize;
	text-align:center;
}

p.uppercase{
	text-transform:uppercase;
	text-align:right;
}

p.lowercase{
	text-transform:lowercase;
	text-align:left;
}

p.pageOne:first-line {
	font-weight:bold;
}

.shadow {
	text-shadow: #999999 10px 10px 3px;
}