@charset "utf-8";
/* CSS Document */
body,html {
	max-width: 900px;
}

h1 {
	color:#0000ff;
	font-size:48px;
	margin:0;
}

hr {
	height:3px;
	background-color:#00ffff;
	border:none;
}

.menu {
	font-size:25px;
	line-height:50px;
	max-width:100%;
	background-color:#00ffff;
}

.menu a {
	margin-left:5px;
	margin-right:20px;
	text-decoration:none;
}

img {
	float:right;
}

h2 {
	font-size:30px;
	color:#66666a;
}

p {
	font-size:15px;
	color:#66666a;
}